In [2]:
import pymysql
from database_py  import DatabaseUBCTG

In [3]:
%%time
start_date = '2020-01-01'
end_date = '2020-04-01'

db = DatabaseUBCTG()

df = db.get_returns_universe(start=start_date, end=end_date)
df.head()

CPU times: user 7.72 s, sys: 870 ms, total: 8.59 s
Wall time: 1min 3s

   Permno Ticker        Date   Returns
0   10026   JJSF  2020-01-02 -0.014055
1   10026   JJSF  2020-01-03  0.017779
2   10026   JJSF  2020-01-06  0.000865
3   10026   JJSF  2020-01-07 -0.011023
4   10026   JJSF  2020-01-08 -0.005409

In [4]:
df.tail()

        Permno Ticker        Date   Returns
480751   93436   TSLA  2020-03-26 -0.020566
480752   93436   TSLA  2020-03-27 -0.026128
480753   93436   TSLA  2020-03-30 -0.023777
480754   93436   TSLA  2020-03-31  0.043554
480755   93436   TSLA  2020-04-01 -0.080992